USE [FPL_Mapogo_03]
GO
/****** Object:  Table [dbo].[AccountPackageBenefit]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountPackageBenefit](
	[Account_Package_Benefit_Id] [int] IDENTITY(1,1) NOT NULL,
	[Benefit_Id] [int] NOT NULL,
	[Account_Package_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Account_Package_Benefit_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountPackages]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountPackages](
	[Account_Package_Id] [int] IDENTITY(1,1) NOT NULL,
	[Package_Name] [nvarchar](100) NOT NULL,
	[Price] [float] NOT NULL,
	[Duration_Days] [int] NOT NULL,
	[Limit_SportFields] [int] NOT NULL,
	[Limit_Bookings] [int] NOT NULL,
	[status] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Account_Package_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[Address_Id] [int] IDENTITY(1,1) NOT NULL,
	[Province] [nvarchar](100) NOT NULL,
	[District] [nvarchar](100) NOT NULL,
	[Ward] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Address_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AddressUser]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddressUser](
	[Address_User_Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Address_Id] [int] NOT NULL,
	[Address_Detail] [nvarchar](100) NOT NULL,
	[Active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Address_User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Authorities]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authorities](
	[Authority_Id] [int] IDENTITY(1,1) NOT NULL,
	[Authority] [int] NOT NULL,
	[Username] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Authority_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Benefits]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Benefits](
	[Benefit_Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Benefit_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogImages]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogImages](
	[Blog_Image_Id] [int] IDENTITY(1,1) NOT NULL,
	[Blog_Post_Id] [int] NOT NULL,
	[Image] [varchar](100) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[Created_At] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Blog_Image_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogPosts]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogPosts](
	[Blog_Post_Id] [int] IDENTITY(1,1) NOT NULL,
	[Owner_Id] [int] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Created_At] [datetime] NOT NULL,
	[Update_At] [datetime] NULL,
	[Status] [nvarchar](100) NOT NULL,
	[Views] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Blog_Post_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingDetails]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingDetails](
	[Booking_Detail_Id] [int] IDENTITY(1,1) NOT NULL,
	[Start_Time] [varchar](20) NOT NULL,
	[End_Time] [varchar](20) NOT NULL,
	[Sport_Field_Detail_Id] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Booking_Id] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Subscription_Key] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Booking_Detail_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingPayments]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingPayments](
	[Booking_Payment_Id] [int] IDENTITY(1,1) NOT NULL,
	[Booking_Id] [int] NOT NULL,
	[Amount] [float] NOT NULL,
	[Status] [nvarchar](100) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Reference_Code] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Booking_Payment_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Booking_Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Total_Amount] [float] NOT NULL,
	[Status] [nvarchar](100) NOT NULL,
	[Payment_Method_Id] [int] NOT NULL,
	[Owner_Id] [int] NOT NULL,
	[Voucher_Id] [int] NULL,
	[Note] [nvarchar](max) NULL,
	[Full_Name] [nvarchar](150) NULL,
	[Phone_Number] [nvarchar](10) NULL,
	[Percent_Deposit] [int] NULL,
	[Old_Total_Amount] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Booking_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[Cart_Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Product_Detail_Size_Id] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Total_Amount ] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cart_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriesField]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriesField](
	[Categories_Field_Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Image] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Categories_Field_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriesProduct]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriesProduct](
	[Category_Product_Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Image] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Category_Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FavoriteFields]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoriteFields](
	[Favorite_Field_Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Sport_Field_Id] [int] NOT NULL,
	[Added_Date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Favorite_Field_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FieldReviews]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FieldReviews](
	[Field_Review_Id] [int] IDENTITY(1,1) NOT NULL,
	[Sport_Field_Id] [int] NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[Dated_At] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Field_Review_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gallery]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gallery](
	[Gallery_Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Product_Detail_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Gallery_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GallerySportField]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GallerySportField](
	[Gallery_Sport_Field_Id] [int] IDENTITY(1,1) NOT NULL,
	[Sport_Field_Id] [int] NOT NULL,
	[Image] [varchar](200) NOT NULL,
 CONSTRAINT [PK_GallerySportField] PRIMARY KEY CLUSTERED 
(
	[Gallery_Sport_Field_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageId] [int] IDENTITY(1,1) NOT NULL,
	[SenderUsername] [varchar](100) NOT NULL,
	[ReceiverUsername] [varchar](100) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[Notification_Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Type] [varchar](50) NULL,
	[Is_Read] [bit] NULL,
	[Created_At] [datetime] NULL,
	[Updated_At] [datetime] NULL,
	[Booking_Id] [int] NULL,
	[Order_Id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Notification_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Order_Detail_Id] [int] IDENTITY(1,1) NOT NULL,
	[Product_Detail_Size_Id] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Order_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_Detail_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderPayments]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderPayments](
	[Order_Payment_Id] [int] IDENTITY(1,1) NOT NULL,
	[Order_Id] [int] NOT NULL,
	[Amount] [float] NOT NULL,
	[Status] [nvarchar](100) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Reference_Code] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_Payment_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Order_Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[Phone_Number] [varchar](100) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Status] [nvarchar](100) NOT NULL,
	[Amount] [float] NOT NULL,
	[Payment_Method_Id] [int] NOT NULL,
	[Voucher_Id] [int] NULL,
	[Note] [nvarchar](max) NULL,
	[Ship_Fee] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Owners]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owners](
	[Owner_Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Bank_Account] [varchar](100) NULL,
	[Momo_Account] [varchar](100) NULL,
	[Vnpay_Account] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Owner_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[Payment_Method_Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Payment_Method_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhoneNumbers]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhoneNumbers](
	[Phone_Number_Id] [int] IDENTITY(1,1) NOT NULL,
	[Phone_Number] [nchar](10) NOT NULL,
 CONSTRAINT [PK_PhoneNumber] PRIMARY KEY CLUSTERED 
(
	[Phone_Number_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhoneNumberUser]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhoneNumberUser](
	[Phone_Number_User_Id] [int] IDENTITY(1,1) NOT NULL,
	[Phone_Number_Id] [int] NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_PhoneNumberUser] PRIMARY KEY CLUSTERED 
(
	[Phone_Number_User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDetails]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetails](
	[Product_Detail_Id] [int] IDENTITY(1,1) NOT NULL,
	[Product_Id] [int] NOT NULL,
	[Color] [nvarchar](100) NOT NULL,
	[Image] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Product_Detail_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDetailSize]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetailSize](
	[Product_Detail_Size_Id] [int] IDENTITY(1,1) NOT NULL,
	[Product_Detail_Id] [int] NOT NULL,
	[Size_Id] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Product_Detail_Size_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productreviews]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productreviews](
	[Product_Review_Id] [int] IDENTITY(1,1) NOT NULL,
	[Product_Id] [int] NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[Dated_At] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Product_Review_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Product_Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Category_Product_Id] [int] NOT NULL,
	[Decription] [nvarchar](max) NULL,
	[Status] [nvarchar](100) NOT NULL,
	[Created_Date] [datetime] NOT NULL,
	[Brand] [nvarchar](100) NOT NULL,
	[Country] [nvarchar](100) NOT NULL,
	[Image] [varchar](100) NOT NULL,
	[Price] [float] NOT NULL,
	[Stock] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Role_Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Role_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sizes]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sizes](
	[Size_Id] [int] IDENTITY(1,1) NOT NULL,
	[Size_Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Size_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SportFieldDetails]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SportFieldDetails](
	[Sport_Fiel_Detail_Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [float] NOT NULL,
	[Peak_Hour_Prices] [float] NOT NULL,
	[Size] [nvarchar](100) NOT NULL,
	[Status] [nvarchar](100) NOT NULL,
	[Sport_Filed_Id] [int] NOT NULL,
	[Peak_Hour] [varchar](100) NOT NULL,
	[Percent_Deposit] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Sport_Fiel_Detail_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SportFields]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SportFields](
	[Sport_Field_Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Opening] [varchar](100) NOT NULL,
	[Closing] [varchar](100) NOT NULL,
	[Categories_Field_Id] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Image] [varchar](100) NOT NULL,
	[Status] [nvarchar](100) NOT NULL,
	[Owner_Id] [int] NOT NULL,
	[Decription] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Sport_Field_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusSportFieldDetails]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusSportFieldDetails](
	[Status_Sport_Field_Detail_Id] [int] IDENTITY(1,1) NOT NULL,
	[Sport_Fiel_Detail_Id] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[StatusName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Status_Sport_Field_Detail_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubscriptionPayments]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscriptionPayments](
	[Subscription_Payment_Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[User_Subscription_Id] [int] NOT NULL,
	[Payment_Method_Id] [int] NOT NULL,
	[Amount] [float] NOT NULL,
	[Status] [nvarchar](100) NOT NULL,
	[Payment_Date] [datetime] NOT NULL,
	[Reference_Code] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Subscription_Payment_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Transaction_Id] [int] IDENTITY(1,1) NOT NULL,
	[Wallet_Id] [int] NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Transaction_Type] [varchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[Created_At] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Transaction_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Username] [varchar](100) NOT NULL,
	[Fullname] [nvarchar](100) NOT NULL,
	[Password] [varchar](1000) NOT NULL,
	[Enabled] [bit] NOT NULL,
	[Created_At] [date] NOT NULL,
	[Gender] [int] NULL,
	[Avatar] [varchar](100) NULL,
	[Email] [varchar](100) NOT NULL,
	[Birthday] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSubscriptions]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSubscriptions](
	[User_Subscription_Id] [int] IDENTITY(1,1) NOT NULL,
	[Account_Package_Id] [int] NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Start_Day] [date] NOT NULL,
	[End_Day] [date] NOT NULL,
	[Status] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[User_Subscription_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserVoucher]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserVoucher](
	[User_Voucher_Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Voucher_Id] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Status] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[User_Voucher_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[Voucher_Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Discount_Percent] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Create_Date] [datetime] NOT NULL,
	[End_Date] [datetime] NOT NULL,
	[Created_By] [varchar](100) NOT NULL,
	[Status] [nvarchar](100) NOT NULL,
	[Discount_Code] [varchar](100) NOT NULL,
	[Active_Date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Voucher_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wallets]    Script Date: 12/19/2024 1:03:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallets](
	[Wallet_Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NULL,
	[Balance] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Wallet_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AccountPackageBenefit] ON 

INSERT [dbo].[AccountPackageBenefit] ([Account_Package_Benefit_Id], [Benefit_Id], [Account_Package_Id]) VALUES (1, 1, 1)
INSERT [dbo].[AccountPackageBenefit] ([Account_Package_Benefit_Id], [Benefit_Id], [Account_Package_Id]) VALUES (2, 2, 1)
INSERT [dbo].[AccountPackageBenefit] ([Account_Package_Benefit_Id], [Benefit_Id], [Account_Package_Id]) VALUES (3, 3, 2)
SET IDENTITY_INSERT [dbo].[AccountPackageBenefit] OFF
GO
SET IDENTITY_INSERT [dbo].[AccountPackages] ON 

INSERT [dbo].[AccountPackages] ([Account_Package_Id], [Package_Name], [Price], [Duration_Days], [Limit_SportFields], [Limit_Bookings], [status]) VALUES (1, N'Gói miễn phí', 0, 9999999, 1, 15, N'un active')
INSERT [dbo].[AccountPackages] ([Account_Package_Id], [Package_Name], [Price], [Duration_Days], [Limit_SportFields], [Limit_Bookings], [status]) VALUES (2, N'Gói cơ bản 1', 10000000, 90, 2, 99999999, N'active')
INSERT [dbo].[AccountPackages] ([Account_Package_Id], [Package_Name], [Price], [Duration_Days], [Limit_SportFields], [Limit_Bookings], [status]) VALUES (3, N'Gói nâng cao', 200000, 30, 5, 99999999, N'active')
SET IDENTITY_INSERT [dbo].[AccountPackages] OFF
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([Address_Id], [Province], [District], [Ward]) VALUES (1, N'Tỉnh Phú Yên', N'Huyện Tuy An', N'Xã An Chấn')
INSERT [dbo].[Address] ([Address_Id], [Province], [District], [Ward]) VALUES (2, N'Tỉnh Lai Châu', N'Huyện Tam Đường', N'Xã Bản Bo')
INSERT [dbo].[Address] ([Address_Id], [Province], [District], [Ward]) VALUES (3, N'Tỉnh Thái Nguyên', N'Huyện Định Hóa', N'Xã Định Biên')
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
SET IDENTITY_INSERT [dbo].[AddressUser] ON 

INSERT [dbo].[AddressUser] ([Address_User_Id], [Username], [Address_Id], [Address_Detail], [Active]) VALUES (1, N'nguyentuakinapy', 1, N'Thôn Phú Thạnh', 0)
INSERT [dbo].[AddressUser] ([Address_User_Id], [Username], [Address_Id], [Address_Detail], [Active]) VALUES (3, N'nguyentuakinapy', 1, N'Thôn Phú Thạnh', 0)
INSERT [dbo].[AddressUser] ([Address_User_Id], [Username], [Address_Id], [Address_Detail], [Active]) VALUES (4, N'nguyentuakina', 7, N'48/5D2 Tô Ký', 1)
SET IDENTITY_INSERT [dbo].[AddressUser] OFF
GO
SET IDENTITY_INSERT [dbo].[Authorities] ON 

INSERT [dbo].[Authorities] ([Authority_Id], [Authority], [Username]) VALUES (5, 4, N'tanthanh')
INSERT [dbo].[Authorities] ([Authority_Id], [Authority], [Username]) VALUES (6, 1, N'admin')
INSERT [dbo].[Authorities] ([Authority_Id], [Authority], [Username]) VALUES (10, 4, N'nguyentuakinapy')
SET IDENTITY_INSERT [dbo].[Authorities] OFF
GO
SET IDENTITY_INSERT [dbo].[Benefits] ON 

INSERT [dbo].[Benefits] ([Benefit_Id], [Description]) VALUES (1, N'Miễn phí một khu vực sân')
INSERT [dbo].[Benefits] ([Benefit_Id], [Description]) VALUES (2, N'Giới hạn 15 lượt đặt sân mỗi tháng')
INSERT [dbo].[Benefits] ([Benefit_Id], [Description]) VALUES (3, N'Hai khu vực sân')
SET IDENTITY_INSERT [dbo].[Benefits] OFF
GO
SET IDENTITY_INSERT [dbo].[BookingDetails] ON 

INSERT [dbo].[BookingDetails] ([Booking_Detail_Id], [Start_Time], [End_Time], [Sport_Field_Detail_Id], [Price], [Booking_Id], [Date], [Subscription_Key], [Status]) VALUES (992, N'19h00', N'20h30', 1, 300000, 627, CAST(N'2024-12-03' AS Date), NULL, N'Đã hoàn thành')
INSERT [dbo].[BookingDetails] ([Booking_Detail_Id], [Start_Time], [End_Time], [Sport_Field_Detail_Id], [Price], [Booking_Id], [Date], [Subscription_Key], [Status]) VALUES (993, N'17h30', N'19h30', 2, 800000, 628, CAST(N'2024-12-03' AS Date), NULL, N'Đã hoàn thành')
INSERT [dbo].[BookingDetails] ([Booking_Detail_Id], [Start_Time], [End_Time], [Sport_Field_Detail_Id], [Price], [Booking_Id], [Date], [Subscription_Key], [Status]) VALUES (994, N'18h30', N'20h30', 6, 1200000, 629, CAST(N'2024-12-03' AS Date), N'keybooking629', N'Đã hoàn thành')
GO
SET IDENTITY_INSERT [dbo].[BookingDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([Booking_Id], [Date], [Username], [Total_Amount], [Status], [Payment_Method_Id], [Owner_Id], [Voucher_Id], [Note], [Full_Name], [Phone_Number], [Percent_Deposit], [Old_Total_Amount]) VALUES (627, CAST(N'2024-12-03T14:50:12.590' AS DateTime), N'sportoffline', 300000, N'Chờ thanh toán', 6, 1, NULL, NULL, N'Nguyễn Tú', N'', 20, 0)
INSERT [dbo].[Bookings] ([Booking_Id], [Date], [Username], [Total_Amount], [Status], [Payment_Method_Id], [Owner_Id], [Voucher_Id], [Note], [Full_Name], [Phone_Number], [Percent_Deposit], [Old_Total_Amount]) VALUES (628, CAST(N'2024-12-03T14:50:19.157' AS DateTime), N'sportoffline', 800000, N'Đã thanh toán', 6, 1, NULL, NULL, N'Nguyễn Thị Diệu Mỵ', N'', 20, 0)
INSERT [dbo].[Bookings] ([Booking_Id], [Date], [Username], [Total_Amount], [Status], [Payment_Method_Id], [Owner_Id], [Voucher_Id], [Note], [Full_Name], [Phone_Number], [Percent_Deposit], [Old_Total_Amount]) VALUES (629, CAST(N'2024-12-03T14:51:09.477' AS DateTime), N'sportoffline', 7200000, N'Đã thanh toán', 6, 1, NULL, NULL, N'Hoàng Hữu Thành', N'0369678318', 30, 0)
GO
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([Cart_Id], [Username], [Product_Detail_Size_Id], [Date], [Total_Amount ], [Quantity]) VALUES (90, N'100928486128195800698', 26, CAST(N'2024-12-02T15:10:36.427' AS DateTime), 150, 10)
INSERT [dbo].[Carts] ([Cart_Id], [Username], [Product_Detail_Size_Id], [Date], [Total_Amount ], [Quantity]) VALUES (91, N'100928486128195800698', 25, CAST(N'2024-12-02T15:10:38.200' AS DateTime), 150, 1)
INSERT [dbo].[Carts] ([Cart_Id], [Username], [Product_Detail_Size_Id], [Date], [Total_Amount ], [Quantity]) VALUES (93, N'107603460251462154012', 25, CAST(N'2024-12-02T15:11:16.750' AS DateTime), 150, 2)
SET IDENTITY_INSERT [dbo].[Carts] OFF
GO
SET IDENTITY_INSERT [dbo].[CategoriesField] ON 

INSERT [dbo].[CategoriesField] ([Categories_Field_Id], [Name], [Image]) VALUES (1, N'Bóng đá', N'https://res.cloudinary.com/disnzpdvj/image/upload/v1733211884/fuwsqjcedqedxy91nfgl.jpg')
INSERT [dbo].[CategoriesField] ([Categories_Field_Id], [Name], [Image]) VALUES (2, N'Bóng chuyền', N'https://res.cloudinary.com/disnzpdvj/image/upload/v1734334525/zxhiwuypki3tgbq0z0dd.jpg')
INSERT [dbo].[CategoriesField] ([Categories_Field_Id], [Name], [Image]) VALUES (3, N'Cầu lông', N'https://res.cloudinary.com/disnzpdvj/image/upload/v1734334568/rf2fhsd5zzdcljpqywhv.webp')
SET IDENTITY_INSERT [dbo].[CategoriesField] OFF
GO
SET IDENTITY_INSERT [dbo].[CategoriesProduct] ON 

INSERT [dbo].[CategoriesProduct] ([Category_Product_Id], [Name], [Image]) VALUES (1, N'Bóng đá', N'https://res.cloudinary.com/disnzpdvj/image/upload/v1734334957/c6ww3tkam32oewxqd2rn.jpg')
INSERT [dbo].[CategoriesProduct] ([Category_Product_Id], [Name], [Image]) VALUES (2, N'Bóng chuyền', N'https://res.cloudinary.com/disnzpdvj/image/upload/v1734335056/ngj1kw2qymzgzpvjl9ej.jpg')
INSERT [dbo].[CategoriesProduct] ([Category_Product_Id], [Name], [Image]) VALUES (3, N'Cầu lông', N'https://res.cloudinary.com/disnzpdvj/image/upload/v1734335129/g9bfyd7ujoiywhcck3xz.jpg')
SET IDENTITY_INSERT [dbo].[CategoriesProduct] OFF
GO
SET IDENTITY_INSERT [dbo].[FieldReviews] ON 

INSERT [dbo].[FieldReviews] ([Field_Review_Id], [Sport_Field_Id], [Username], [Rating], [Comment], [Dated_At]) VALUES (3, 3, N'nguyentuakina', 5, N'Sân sất đẹp xứng đáng 4 sao', CAST(N'2024-10-31T02:02:19.230' AS DateTime))
INSERT [dbo].[FieldReviews] ([Field_Review_Id], [Sport_Field_Id], [Username], [Rating], [Comment], [Dated_At]) VALUES (4, 2, N'nguyentuakina', 4, N'Sân này xịn nha', CAST(N'2024-11-01T14:25:40.670' AS DateTime))
INSERT [dbo].[FieldReviews] ([Field_Review_Id], [Sport_Field_Id], [Username], [Rating], [Comment], [Dated_At]) VALUES (11, 4, N'myntd', 5, N'Sân tốt lắm nha mọi người', CAST(N'2024-11-22T17:41:02.343' AS DateTime))
SET IDENTITY_INSERT [dbo].[FieldReviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Gallery] ON 

INSERT [dbo].[Gallery] ([Gallery_Id], [Name], [Product_Detail_Id]) VALUES (75, N'https://res.cloudinary.com/disnzpdvj/image/upload/v1733194714/fgytr6no7uzz9bzwp49h.jpg', 51)
INSERT [dbo].[Gallery] ([Gallery_Id], [Name], [Product_Detail_Id]) VALUES (76, N'https://res.cloudinary.com/disnzpdvj/image/upload/v1733194716/r846rs7fhjwvphiutcpo.jpg', 51)
INSERT [dbo].[Gallery] ([Gallery_Id], [Name], [Product_Detail_Id]) VALUES (77, N'https://res.cloudinary.com/disnzpdvj/image/upload/v1733194717/bzmfjrbeay4e5mhk6ls5.jpg', 51)
GO
SET IDENTITY_INSERT [dbo].[Gallery] OFF
GO
SET IDENTITY_INSERT [dbo].[GallerySportField] ON 

INSERT [dbo].[GallerySportField] ([Gallery_Sport_Field_Id], [Sport_Field_Id], [Image]) VALUES (3, 4, N'https://res.cloudinary.com/disnzpdvj/image/upload/v1730966650/gz9gbyqso5qnfbq75bux.jpg')
INSERT [dbo].[GallerySportField] ([Gallery_Sport_Field_Id], [Sport_Field_Id], [Image]) VALUES (4, 4, N'https://res.cloudinary.com/disnzpdvj/image/upload/v1730966652/nsad1k26lqmq81tfnbfm.jpg')
INSERT [dbo].[GallerySportField] ([Gallery_Sport_Field_Id], [Sport_Field_Id], [Image]) VALUES (5, 7, N'https://res.cloudinary.com/disnzpdvj/image/upload/v1731922060/wndbqhhdqcww1k4hbh8y.jpg')
SET IDENTITY_INSERT [dbo].[GallerySportField] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MessageId], [SenderUsername], [ReceiverUsername], [Content], [CreatedAt], [IsDeleted]) VALUES (361, N'107603460251462154012', N'nguyentuakina', N'Sân này giá bao nhiêu vậy sộp', CAST(N'2024-12-02T14:58:39.180' AS DateTime), 0)
INSERT [dbo].[Messages] ([MessageId], [SenderUsername], [ReceiverUsername], [Content], [CreatedAt], [IsDeleted]) VALUES (362, N'nguyentuakina', N'107603460251462154012', N'sân này giá 1m5 nha em iu', CAST(N'2024-12-02T14:58:50.177' AS DateTime), 0)
INSERT [dbo].[Messages] ([MessageId], [SenderUsername], [ReceiverUsername], [Content], [CreatedAt], [IsDeleted]) VALUES (363, N'107603460251462154012', N'nguyentuakina', N'đắt quá z em ko đặt đâu', CAST(N'2024-12-02T14:58:59.833' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([Notification_Id], [Username], [Title], [Message], [Type], [Is_Read], [Created_At], [Updated_At], [Booking_Id], [Order_Id]) VALUES (1983, N'nguyentuakina', N'Đặt sân mới', N'Nguyễn Thị Diệu Mỵ Vừa đặt sân.', N'info', 1, CAST(N'2024-12-13T16:16:48.740' AS DateTime), CAST(N'2024-12-13T16:16:48.740' AS DateTime), 775, NULL)
INSERT [dbo].[Notification] ([Notification_Id], [Username], [Title], [Message], [Type], [Is_Read], [Created_At], [Updated_At], [Booking_Id], [Order_Id]) VALUES (1984, N'nguyentuakina', N'Đặt sân mới', N'Nguyễn Thị Diệu Mỵ Vừa đặt sân.', N'info', 1, CAST(N'2024-12-13T16:18:39.943' AS DateTime), CAST(N'2024-12-13T16:18:39.943' AS DateTime), 776, NULL)
INSERT [dbo].[Notification] ([Notification_Id], [Username], [Title], [Message], [Type], [Is_Read], [Created_At], [Updated_At], [Booking_Id], [Order_Id]) VALUES (1985, N'nguyentuakina', N'Đặt sân mới', N'Nguyễn Thị Diệu Mỵ Vừa đặt sân.', N'info', 1, CAST(N'2024-12-13T16:19:42.250' AS DateTime), CAST(N'2024-12-13T16:19:42.250' AS DateTime), 777, NULL)
GO
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Order_Detail_Id], [Product_Detail_Size_Id], [Quantity], [Order_Id]) VALUES (64, 4, 3, 66)
INSERT [dbo].[OrderDetails] ([Order_Detail_Id], [Product_Detail_Size_Id], [Quantity], [Order_Id]) VALUES (65, 8, 1, 66)
INSERT [dbo].[OrderDetails] ([Order_Detail_Id], [Product_Detail_Size_Id], [Quantity], [Order_Id]) VALUES (66, 4, 3, 67)
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderPayments] ON 

INSERT [dbo].[OrderPayments] ([Order_Payment_Id], [Order_Id], [Amount], [Status], [Date], [Username], [Reference_Code]) VALUES (7, 66, 3600001, N'Đã thanh toán', CAST(N'2024-11-14T23:44:12.730' AS DateTime), N'nguyentuakina', NULL)
INSERT [dbo].[OrderPayments] ([Order_Payment_Id], [Order_Id], [Amount], [Status], [Date], [Username], [Reference_Code]) VALUES (8, 68, 3970368, N'Đã thanh toán', CAST(N'2024-11-15T03:14:04.293' AS DateTime), N'nguyentuakina', N'MoMo')
INSERT [dbo].[OrderPayments] ([Order_Payment_Id], [Order_Id], [Amount], [Status], [Date], [Username], [Reference_Code]) VALUES (9, 70, 3600000, N'Đã thanh toán', CAST(N'2024-11-15T03:17:36.770' AS DateTime), N'nguyentuakina', N'MoMo')
SET IDENTITY_INSERT [dbo].[OrderPayments] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Order_Id], [Username], [Address], [Phone_Number], [Date], [Status], [Amount], [Payment_Method_Id], [Voucher_Id], [Note], [Ship_Fee]) VALUES (66, N'nguyentuakina', N'Thành phố Hồ Chí Minh, Quận 12, Phường Trung Mỹ Tây, 369/3/2 Tô Ký', N'0369678318', CAST(N'2024-11-15T00:00:00.000' AS DateTime), N'Đã hoàn thành', 3600001, 2, NULL, NULL, 0)
INSERT [dbo].[Orders] ([Order_Id], [Username], [Address], [Phone_Number], [Date], [Status], [Amount], [Payment_Method_Id], [Voucher_Id], [Note], [Ship_Fee]) VALUES (67, N'nguyentuakina', N'Thành phố Hồ Chí Minh, Quận 12, Phường Trung Mỹ Tây, 369/3/2 Tô Ký', N'0369678318', CAST(N'2024-11-15T00:00:00.000' AS DateTime), N'Chờ thanh toán', 3970368, 2, NULL, NULL, 0)
INSERT [dbo].[Orders] ([Order_Id], [Username], [Address], [Phone_Number], [Date], [Status], [Amount], [Payment_Method_Id], [Voucher_Id], [Note], [Ship_Fee]) VALUES (68, N'nguyentuakina', N'Thành phố Hồ Chí Minh, Quận 12, Phường Trung Mỹ Tây, 369/3/2 Tô Ký', N'0369678318', CAST(N'2024-11-15T00:00:00.000' AS DateTime), N'Đã hoàn thành', 3970368, 1, NULL, NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Owners] ON 

INSERT [dbo].[Owners] ([Owner_Id], [Username], [Bank_Account], [Momo_Account], [Vnpay_Account]) VALUES (1, N'myntd', NULL, NULL, NULL)
INSERT [dbo].[Owners] ([Owner_Id], [Username], [Bank_Account], [Momo_Account], [Vnpay_Account]) VALUES (3, N'nguyentuakina', N'', N'', N'')
INSERT [dbo].[Owners] ([Owner_Id], [Username], [Bank_Account], [Momo_Account], [Vnpay_Account]) VALUES (6, N'nguyentuakinapy', N'', N'', N'')
SET IDENTITY_INSERT [dbo].[Owners] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentMethods] ON 

INSERT [dbo].[PaymentMethods] ([Payment_Method_Id], [Name], [Description]) VALUES (1, N'MoMo', N'Thanh toán qua ví điện thử MoMo')
INSERT [dbo].[PaymentMethods] ([Payment_Method_Id], [Name], [Description]) VALUES (2, N'VNPay', N'Thanh toán qua ví điện tử VNPay')
INSERT [dbo].[PaymentMethods] ([Payment_Method_Id], [Name], [Description]) VALUES (3, N'Credit Card', N'Thanh toán qua thẻ tín dụng')
SET IDENTITY_INSERT [dbo].[PaymentMethods] OFF
GO
SET IDENTITY_INSERT [dbo].[PhoneNumbers] ON 

INSERT [dbo].[PhoneNumbers] ([Phone_Number_Id], [Phone_Number]) VALUES (15, N'0963861480')
INSERT [dbo].[PhoneNumbers] ([Phone_Number_Id], [Phone_Number]) VALUES (17, N'0374862645')
INSERT [dbo].[PhoneNumbers] ([Phone_Number_Id], [Phone_Number]) VALUES (18, N'0365131846')
SET IDENTITY_INSERT [dbo].[PhoneNumbers] OFF
GO
SET IDENTITY_INSERT [dbo].[PhoneNumberUser] ON 

INSERT [dbo].[PhoneNumberUser] ([Phone_Number_User_Id], [Phone_Number_Id], [Username], [Active]) VALUES (17, 17, N'100928486128195800698', 1)
INSERT [dbo].[PhoneNumberUser] ([Phone_Number_User_Id], [Phone_Number_Id], [Username], [Active]) VALUES (18, 15, N'devka123', 1)
INSERT [dbo].[PhoneNumberUser] ([Phone_Number_User_Id], [Phone_Number_Id], [Username], [Active]) VALUES (21, 17, N'dieumy', 1)
SET IDENTITY_INSERT [dbo].[PhoneNumberUser] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductDetails] ON 

INSERT [dbo].[ProductDetails] ([Product_Detail_Id], [Product_Id], [Color], [Image]) VALUES (3, 2, N'Xanh biển', N'https://res.cloudinary.com/disnzpdvj/image/upload/v1733203037/h5ymov7iel3eluhehxrb.jpg')
INSERT [dbo].[ProductDetails] ([Product_Detail_Id], [Product_Id], [Color], [Image]) VALUES (25, 22, N'Cam', N'https://res.cloudinary.com/disnzpdvj/image/upload/v1733727883/lfzrasad99hupgvnaulj.jpg')
INSERT [dbo].[ProductDetails] ([Product_Detail_Id], [Product_Id], [Color], [Image]) VALUES (26, 22, N'Hồng', N'https://res.cloudinary.com/disnzpdvj/image/upload/v1733732426/u4yj3zcxib5gliitlbup.jpg')
SET IDENTITY_INSERT [dbo].[ProductDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductDetailSize] ON 

INSERT [dbo].[ProductDetailSize] ([Product_Detail_Size_Id], [Product_Detail_Id], [Size_Id], [Price], [Quantity]) VALUES (4, 3, 9, 5900000, 200)
INSERT [dbo].[ProductDetailSize] ([Product_Detail_Size_Id], [Product_Detail_Id], [Size_Id], [Price], [Quantity]) VALUES (8, 3, 1, 5900000, 300)
INSERT [dbo].[ProductDetailSize] ([Product_Detail_Size_Id], [Product_Detail_Id], [Size_Id], [Price], [Quantity]) VALUES (17, 27, 3, 2900000, 100)
SET IDENTITY_INSERT [dbo].[ProductDetailSize] OFF
GO
SET IDENTITY_INSERT [dbo].[Productreviews] ON 

INSERT [dbo].[Productreviews] ([Product_Review_Id], [Product_Id], [Username], [Rating], [Comment], [Dated_At]) VALUES (1, 2, N'nguyentuakina', 4, N'Sản phẩm này tên gì vậy', CAST(N'2024-11-01T14:25:54.923' AS DateTime))
INSERT [dbo].[Productreviews] ([Product_Review_Id], [Product_Id], [Username], [Rating], [Comment], [Dated_At]) VALUES (5, 71, N'nguyentuakina', 5, N'sản phẩm này như thế nào vây ?', CAST(N'2024-11-15T16:06:41.323' AS DateTime))
INSERT [dbo].[Productreviews] ([Product_Review_Id], [Product_Id], [Username], [Rating], [Comment], [Dated_At]) VALUES (8, 70, N'nguyentuakina', 4, N'Sản phẩm này có ăn được không?', CAST(N'2024-11-26T19:23:21.580' AS DateTime))
SET IDENTITY_INSERT [dbo].[Productreviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Role_Id], [Name]) VALUES (1, N'ROLE_ADMIN')
INSERT [dbo].[Roles] ([Role_Id], [Name]) VALUES (2, N'ROLE_STAFF')
INSERT [dbo].[Roles] ([Role_Id], [Name]) VALUES (3, N'ROLE_OWNER')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Sizes] ON 

INSERT [dbo].[Sizes] ([Size_Id], [Size_Name]) VALUES (1, N'XXL')
INSERT [dbo].[Sizes] ([Size_Id], [Size_Name]) VALUES (2, N'XL')
INSERT [dbo].[Sizes] ([Size_Id], [Size_Name]) VALUES (3, N'L')
SET IDENTITY_INSERT [dbo].[Sizes] OFF
GO
SET IDENTITY_INSERT [dbo].[SportFieldDetails] ON 

INSERT [dbo].[SportFieldDetails] ([Sport_Fiel_Detail_Id], [Name], [Price], [Peak_Hour_Prices], [Size], [Status], [Sport_Filed_Id], [Peak_Hour], [Percent_Deposit]) VALUES (1, N'Sân 1', 200000, 300000, N'5 người', N'Hoạt động', 2, N'11h00-13h00', 20)
INSERT [dbo].[SportFieldDetails] ([Sport_Fiel_Detail_Id], [Name], [Price], [Peak_Hour_Prices], [Size], [Status], [Sport_Filed_Id], [Peak_Hour], [Percent_Deposit]) VALUES (2, N'Sân 2', 400000, 500000, N'7 người', N'Hoạt động', 2, N'11h00-13h00', 20)
INSERT [dbo].[SportFieldDetails] ([Sport_Fiel_Detail_Id], [Name], [Price], [Peak_Hour_Prices], [Size], [Status], [Sport_Filed_Id], [Peak_Hour], [Percent_Deposit]) VALUES (3, N'Sân 1', 250000, 350000, N'7 người', N'Hoạt động', 3, N'11h00-13h00', 30)
SET IDENTITY_INSERT [dbo].[SportFieldDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[SportFields] ON 

INSERT [dbo].[SportFields] ([Sport_Field_Id], [Name], [Address], [Opening], [Closing], [Categories_Field_Id], [Quantity], [Image], [Status], [Owner_Id], [Decription]) VALUES (4, N'Sân bóng Akina', N'310 Tô Ký, Phường Trung Mỹ Tây, Quận 12, Thành phố Hồ Chí Minh', N'7h00', N'23h00', 1, 6, N'https://res.cloudinary.com/disnzpdvj/image/upload/v1730966644/s8w093liaylckqcs64c5.jpg', N'Hoạt động', 3, N'KHÔNG CÓ GÌ CẢ')
SET IDENTITY_INSERT [dbo].[SportFields] OFF
GO
SET IDENTITY_INSERT [dbo].[StatusSportFieldDetails] ON 

INSERT [dbo].[StatusSportFieldDetails] ([Status_Sport_Field_Detail_Id], [Sport_Fiel_Detail_Id], [StartDate], [EndDate], [StatusName]) VALUES (20, 1, CAST(N'2024-11-01T00:00:00.000' AS DateTime), CAST(N'2024-11-26T12:13:10.463' AS DateTime), N'Hoạt động')
INSERT [dbo].[StatusSportFieldDetails] ([Status_Sport_Field_Detail_Id], [Sport_Fiel_Detail_Id], [StartDate], [EndDate], [StatusName]) VALUES (21, 2, CAST(N'2024-11-01T00:00:00.000' AS DateTime), NULL, N'Hoạt động')
INSERT [dbo].[StatusSportFieldDetails] ([Status_Sport_Field_Detail_Id], [Sport_Fiel_Detail_Id], [StartDate], [EndDate], [StatusName]) VALUES (22, 3, CAST(N'2024-11-01T00:00:00.000' AS DateTime), NULL, N'Hoạt động')
SET IDENTITY_INSERT [dbo].[StatusSportFieldDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[SubscriptionPayments] ON 

INSERT [dbo].[SubscriptionPayments] ([Subscription_Payment_Id], [Username], [User_Subscription_Id], [Payment_Method_Id], [Amount], [Status], [Payment_Date], [Reference_Code]) VALUES (1, N'nguyentuakina123', 11, 2, 100000, N'Đã thanh toán', CAST(N'2024-11-20T13:09:36.330' AS DateTime), NULL)
INSERT [dbo].[SubscriptionPayments] ([Subscription_Payment_Id], [Username], [User_Subscription_Id], [Payment_Method_Id], [Amount], [Status], [Payment_Date], [Reference_Code]) VALUES (2, N'nguyentuakina123', 11, 2, 100000, N'Đã thanh toán', CAST(N'2024-11-20T13:09:56.763' AS DateTime), NULL)
INSERT [dbo].[SubscriptionPayments] ([Subscription_Payment_Id], [Username], [User_Subscription_Id], [Payment_Method_Id], [Amount], [Status], [Payment_Date], [Reference_Code]) VALUES (3, N'nguyentuakina123', 11, 2, 200000, N'Đã thanh toán', CAST(N'2024-11-20T13:11:15.117' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[SubscriptionPayments] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([Transaction_Id], [Wallet_Id], [Amount], [Transaction_Type], [Description], [Created_At]) VALUES (1, 1, CAST(10000.00 AS Decimal(10, 2)), N'+10000', N'Hoàn tiền từ order 10', CAST(N'2024-11-08T00:00:00.000' AS DateTime))
INSERT [dbo].[Transactions] ([Transaction_Id], [Wallet_Id], [Amount], [Transaction_Type], [Description], [Created_At]) VALUES (2, 1, CAST(1323000.00 AS Decimal(10, 2)), N'+1323000', N'Nạp từ hóa đơn: 48', CAST(N'2024-11-11T01:34:47.623' AS DateTime))
INSERT [dbo].[Transactions] ([Transaction_Id], [Wallet_Id], [Amount], [Transaction_Type], [Description], [Created_At]) VALUES (3, 1, CAST(1323000.00 AS Decimal(10, 2)), N'-1323000', N'Thanh toán hóa đơn: 48', CAST(N'2024-11-11T01:34:47.627' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
INSERT [dbo].[Users] ([Username], [Fullname], [Password], [Enabled], [Created_At], [Gender], [Avatar], [Email], [Birthday]) VALUES (N'100928486128195800698', N'Ngân Vũ', N'123', 1, CAST(N'2024-11-27' AS Date), NULL, N'', N'ntdieumy204@gmail.com', NULL)
INSERT [dbo].[Users] ([Username], [Fullname], [Password], [Enabled], [Created_At], [Gender], [Avatar], [Email], [Birthday]) VALUES (N'101794343374621971017', N'Tấn Thành Võ', N'123', 0, CAST(N'2024-11-27' AS Date), NULL, N'', N'nguoikha@gmail.com', NULL)
INSERT [dbo].[Users] ([Username], [Fullname], [Password], [Enabled], [Created_At], [Gender], [Avatar], [Email], [Birthday]) VALUES (N'104473904982469285327', N'Nguyen Tu (FPL HCM)', N'123', 0, CAST(N'2024-11-17' AS Date), NULL, N'', N'tunps31013@fpt.edu.vn', NULL)
GO
SET IDENTITY_INSERT [dbo].[UserSubscriptions] ON 

INSERT [dbo].[UserSubscriptions] ([User_Subscription_Id], [Account_Package_Id], [Username], [Start_Day], [End_Day], [Status]) VALUES (2, 2, N'nguyentuakina', CAST(N'2024-12-03' AS Date), CAST(N'2025-01-02' AS Date), N'Đã thanh toán')
INSERT [dbo].[UserSubscriptions] ([User_Subscription_Id], [Account_Package_Id], [Username], [Start_Day], [End_Day], [Status]) VALUES (4, 3, N'myntd', CAST(N'2024-12-17' AS Date), CAST(N'2025-01-16' AS Date), N'Đã thanh toán')
INSERT [dbo].[UserSubscriptions] ([User_Subscription_Id], [Account_Package_Id], [Username], [Start_Day], [End_Day], [Status]) VALUES (10, 1, N'nguyentuakinapy', CAST(N'2024-11-17' AS Date), CAST(N'2024-11-17' AS Date), N'Đã thanh toán')
SET IDENTITY_INSERT [dbo].[UserSubscriptions] OFF
GO
SET IDENTITY_INSERT [dbo].[UserVoucher] ON 

INSERT [dbo].[UserVoucher] ([User_Voucher_Id], [Username], [Voucher_Id], [Date], [Status]) VALUES (20, N'myntd', 4, CAST(N'2024-12-08T21:45:21.823' AS DateTime), N'Unused')
INSERT [dbo].[UserVoucher] ([User_Voucher_Id], [Username], [Voucher_Id], [Date], [Status]) VALUES (21, N'myntd', 2, CAST(N'2024-12-08T22:02:41.233' AS DateTime), N'Used')
INSERT [dbo].[UserVoucher] ([User_Voucher_Id], [Username], [Voucher_Id], [Date], [Status]) VALUES (22, N'myntd', 1, CAST(N'2024-12-08T22:02:45.027' AS DateTime), N'Unused')
SET IDENTITY_INSERT [dbo].[UserVoucher] OFF
GO
SET IDENTITY_INSERT [dbo].[Voucher] ON 

INSERT [dbo].[Voucher] ([Voucher_Id], [Name], [Discount_Percent], [Quantity], [Create_Date], [End_Date], [Created_By], [Status], [Discount_Code], [Active_Date]) VALUES (1, N'Giảm giá 10%', 10, 12, CAST(N'2024-10-01T00:00:00.000' AS DateTime), CAST(N'2025-01-01T07:00:00.000' AS DateTime), N'chusan', N'inactive', N'DISCOUNTCODE-10', CAST(N'2024-10-28T00:00:00.000' AS DateTime))
INSERT [dbo].[Voucher] ([Voucher_Id], [Name], [Discount_Percent], [Quantity], [Create_Date], [End_Date], [Created_By], [Status], [Discount_Code], [Active_Date]) VALUES (2, N'Giảm giá 10%', 10, 13, CAST(N'2024-10-01T00:00:00.000' AS DateTime), CAST(N'2024-12-31T00:00:00.000' AS DateTime), N'chusan', N'inactive', N'DISCOUNTCODE-10', CAST(N'2024-10-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Voucher] ([Voucher_Id], [Name], [Discount_Percent], [Quantity], [Create_Date], [End_Date], [Created_By], [Status], [Discount_Code], [Active_Date]) VALUES (3, N'Giảm giá 20%', 20, 48, CAST(N'2024-10-01T00:00:00.000' AS DateTime), CAST(N'2024-11-30T00:00:00.000' AS DateTime), N'chusan', N'inactive', N'DISCOUNT20', CAST(N'2024-10-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Voucher] OFF
GO
SET IDENTITY_INSERT [dbo].[Wallets] ON 

INSERT [dbo].[Wallets] ([Wallet_Id], [Username], [Balance]) VALUES (1, N'admin', CAST(9999999.00 AS Decimal(12, 2)))
INSERT [dbo].[Wallets] ([Wallet_Id], [Username], [Balance]) VALUES (2, N'chusan', CAST(209000.00 AS Decimal(12, 2)))
INSERT [dbo].[Wallets] ([Wallet_Id], [Username], [Balance]) VALUES (3, N'myntd', CAST(129472362.40 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[Wallets] OFF
GO
/****** Object:  Index [UQ__AccountP__3CE6357A67E389E8]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[AccountPackageBenefit] ADD UNIQUE NONCLUSTERED 
(
	[Account_Package_Benefit_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__AccountP__16A876CC8CB3AA34]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[AccountPackages] ADD UNIQUE NONCLUSTERED 
(
	[Account_Package_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Address__03BDEBBB8159939D]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[Address] ADD UNIQUE NONCLUSTERED 
(
	[Address_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__AddressU__83D371704D6E7BC3]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[AddressUser] ADD UNIQUE NONCLUSTERED 
(
	[Address_User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Authorit__BA8F501566401981]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[Authorities] ADD UNIQUE NONCLUSTERED 
(
	[Authority_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Benefits__E7342AE99D21AEB0]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[Benefits] ADD UNIQUE NONCLUSTERED 
(
	[Benefit_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__BlogImag__6B28B349376C8534]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[BlogImages] ADD UNIQUE NONCLUSTERED 
(
	[Blog_Image_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__BlogPost__1C4B162F8E698E66]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[BlogPosts] ADD UNIQUE NONCLUSTERED 
(
	[Blog_Post_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__BookingD__AADFA4D804291C0C]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[BookingDetails] ADD UNIQUE NONCLUSTERED 
(
	[Booking_Detail_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__BookingP__CC5CE95E7CC32EAD]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[BookingPayments] ADD UNIQUE NONCLUSTERED 
(
	[Booking_Payment_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Bookings__35ABFDC17746CB90]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[Bookings] ADD UNIQUE NONCLUSTERED 
(
	[Booking_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Carts__D6AB475829A521F7]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[Carts] ADD UNIQUE NONCLUSTERED 
(
	[Cart_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Categori__2EC51214C656EEBA]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[CategoriesField] ADD UNIQUE NONCLUSTERED 
(
	[Categories_Field_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Categori__B96A8F5E598C9ED1]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[CategoriesProduct] ADD UNIQUE NONCLUSTERED 
(
	[Category_Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Favorite__324587F3FDFE0143]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[FavoriteFields] ADD UNIQUE NONCLUSTERED 
(
	[Favorite_Field_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__FieldRev__D60E6A4E9B78218F]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[FieldReviews] ADD UNIQUE NONCLUSTERED 
(
	[Field_Review_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Gallery__40415A96DD13ADDC]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[Gallery] ADD UNIQUE NONCLUSTERED 
(
	[Gallery_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__OrderDet__1581C7629F00066E]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[OrderDetails] ADD UNIQUE NONCLUSTERED 
(
	[Order_Detail_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__OrderPay__F45840B815266C71]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[OrderPayments] ADD UNIQUE NONCLUSTERED 
(
	[Order_Payment_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Orders__F1E4607AB2379F71]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[Orders] ADD UNIQUE NONCLUSTERED 
(
	[Order_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Owners__BD6352BAF0FE8EB0]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[Owners] ADD UNIQUE NONCLUSTERED 
(
	[Owner_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__PaymentM__781302A7CE5D9FC8]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[PaymentMethods] ADD UNIQUE NONCLUSTERED 
(
	[Payment_Method_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__ProductD__7EE52BF2A403E17D]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[ProductDetails] ADD UNIQUE NONCLUSTERED 
(
	[Product_Detail_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__ProductD__76CB18EE917148AE]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[ProductDetailSize] ADD UNIQUE NONCLUSTERED 
(
	[Product_Detail_Size_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Productr__F161EEC011285BF6]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[Productreviews] ADD UNIQUE NONCLUSTERED 
(
	[Product_Review_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Products__9834FBBB390F9B31]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Roles__D80AB4BA4AA08C9F]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[Role_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Sizes__0BC32561170F8BD4]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[Sizes] ADD UNIQUE NONCLUSTERED 
(
	[Size_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__SportFie__6C3F4E86F9DC0344]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[SportFieldDetails] ADD UNIQUE NONCLUSTERED 
(
	[Sport_Fiel_Detail_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__SportFie__5392112FB3BBC53F]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[SportFields] ADD UNIQUE NONCLUSTERED 
(
	[Sport_Field_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Subscrip__56C6D221A1ED9E49]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[SubscriptionPayments] ADD UNIQUE NONCLUSTERED 
(
	[Subscription_Payment_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__UserSubs__DF21A7E5FBF9296F]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[UserSubscriptions] ADD UNIQUE NONCLUSTERED 
(
	[User_Subscription_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__UserVouc__8F873E04D55B5618]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[UserVoucher] ADD UNIQUE NONCLUSTERED 
(
	[User_Voucher_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Voucher__D753917D82F9D693]    Script Date: 12/19/2024 1:03:55 AM ******/
ALTER TABLE [dbo].[Voucher] ADD UNIQUE NONCLUSTERED 
(
	[Voucher_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccountPackages] ADD  DEFAULT ((0)) FOR [Limit_SportFields]
GO
ALTER TABLE [dbo].[AccountPackages] ADD  DEFAULT ((0)) FOR [Limit_Bookings]
GO
ALTER TABLE [dbo].[AddressUser] ADD  DEFAULT ((0)) FOR [Active]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [Old_Total_Amount]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ((0)) FOR [Is_Read]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (getdate()) FOR [Updated_At]
GO
ALTER TABLE [dbo].[PhoneNumberUser] ADD  DEFAULT ((0)) FOR [Active]
GO
ALTER TABLE [dbo].[SportFields] ADD  DEFAULT ('') FOR [Decription]
GO
ALTER TABLE [dbo].[Wallets] ADD  DEFAULT ((0.00)) FOR [Balance]
GO
ALTER TABLE [dbo].[AccountPackageBenefit]  WITH CHECK ADD FOREIGN KEY([Account_Package_Id])
REFERENCES [dbo].[AccountPackages] ([Account_Package_Id])
GO
ALTER TABLE [dbo].[AccountPackageBenefit]  WITH CHECK ADD FOREIGN KEY([Benefit_Id])
REFERENCES [dbo].[Benefits] ([Benefit_Id])
GO
ALTER TABLE [dbo].[AddressUser]  WITH CHECK ADD FOREIGN KEY([Address_Id])
REFERENCES [dbo].[Address] ([Address_Id])
GO
ALTER TABLE [dbo].[AddressUser]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[Authorities]  WITH CHECK ADD FOREIGN KEY([Authority])
REFERENCES [dbo].[Roles] ([Role_Id])
GO
ALTER TABLE [dbo].[Authorities]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[BlogImages]  WITH CHECK ADD FOREIGN KEY([Blog_Post_Id])
REFERENCES [dbo].[BlogPosts] ([Blog_Post_Id])
GO
ALTER TABLE [dbo].[BlogPosts]  WITH CHECK ADD FOREIGN KEY([Owner_Id])
REFERENCES [dbo].[Owners] ([Owner_Id])
GO
ALTER TABLE [dbo].[BookingDetails]  WITH CHECK ADD FOREIGN KEY([Booking_Id])
REFERENCES [dbo].[Bookings] ([Booking_Id])
GO
ALTER TABLE [dbo].[BookingDetails]  WITH CHECK ADD FOREIGN KEY([Sport_Field_Detail_Id])
REFERENCES [dbo].[SportFieldDetails] ([Sport_Fiel_Detail_Id])
GO
ALTER TABLE [dbo].[BookingPayments]  WITH CHECK ADD FOREIGN KEY([Booking_Id])
REFERENCES [dbo].[Bookings] ([Booking_Id])
GO
ALTER TABLE [dbo].[BookingPayments]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([Owner_Id])
REFERENCES [dbo].[Owners] ([Owner_Id])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([Payment_Method_Id])
REFERENCES [dbo].[PaymentMethods] ([Payment_Method_Id])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([Voucher_Id])
REFERENCES [dbo].[Voucher] ([Voucher_Id])
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD FOREIGN KEY([Product_Detail_Size_Id])
REFERENCES [dbo].[ProductDetailSize] ([Product_Detail_Size_Id])
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[FavoriteFields]  WITH CHECK ADD FOREIGN KEY([Sport_Field_Id])
REFERENCES [dbo].[SportFields] ([Sport_Field_Id])
GO
ALTER TABLE [dbo].[FavoriteFields]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[FieldReviews]  WITH CHECK ADD FOREIGN KEY([Sport_Field_Id])
REFERENCES [dbo].[SportFields] ([Sport_Field_Id])
GO
ALTER TABLE [dbo].[FieldReviews]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[Gallery]  WITH CHECK ADD FOREIGN KEY([Product_Detail_Id])
REFERENCES [dbo].[ProductDetails] ([Product_Detail_Id])
GO
ALTER TABLE [dbo].[GallerySportField]  WITH CHECK ADD  CONSTRAINT [FK_GallerySportField_SportFields] FOREIGN KEY([Sport_Field_Id])
REFERENCES [dbo].[SportFields] ([Sport_Field_Id])
GO
ALTER TABLE [dbo].[GallerySportField] CHECK CONSTRAINT [FK_GallerySportField_SportFields]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Receiver] FOREIGN KEY([ReceiverUsername])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Receiver]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Sender] FOREIGN KEY([SenderUsername])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Sender]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Booking] FOREIGN KEY([Booking_Id])
REFERENCES [dbo].[Bookings] ([Booking_Id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Booking]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Order] FOREIGN KEY([Order_Id])
REFERENCES [dbo].[Orders] ([Order_Id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Order]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([Order_Id])
REFERENCES [dbo].[Orders] ([Order_Id])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([Product_Detail_Size_Id])
REFERENCES [dbo].[ProductDetailSize] ([Product_Detail_Size_Id])
GO
ALTER TABLE [dbo].[OrderPayments]  WITH CHECK ADD FOREIGN KEY([Order_Id])
REFERENCES [dbo].[Orders] ([Order_Id])
GO
ALTER TABLE [dbo].[OrderPayments]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([Payment_Method_Id])
REFERENCES [dbo].[PaymentMethods] ([Payment_Method_Id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([Voucher_Id])
REFERENCES [dbo].[Voucher] ([Voucher_Id])
GO
ALTER TABLE [dbo].[Owners]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[PhoneNumberUser]  WITH CHECK ADD FOREIGN KEY([Phone_Number_Id])
REFERENCES [dbo].[PhoneNumbers] ([Phone_Number_Id])
GO
ALTER TABLE [dbo].[PhoneNumberUser]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[ProductDetails]  WITH CHECK ADD FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Products] ([Product_Id])
GO
ALTER TABLE [dbo].[ProductDetailSize]  WITH CHECK ADD FOREIGN KEY([Product_Detail_Id])
REFERENCES [dbo].[ProductDetails] ([Product_Detail_Id])
GO
ALTER TABLE [dbo].[ProductDetailSize]  WITH CHECK ADD FOREIGN KEY([Size_Id])
REFERENCES [dbo].[Sizes] ([Size_Id])
GO
ALTER TABLE [dbo].[Productreviews]  WITH CHECK ADD FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Products] ([Product_Id])
GO
ALTER TABLE [dbo].[Productreviews]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([Category_Product_Id])
REFERENCES [dbo].[CategoriesProduct] ([Category_Product_Id])
GO
ALTER TABLE [dbo].[SportFieldDetails]  WITH CHECK ADD FOREIGN KEY([Sport_Filed_Id])
REFERENCES [dbo].[SportFields] ([Sport_Field_Id])
GO
ALTER TABLE [dbo].[SportFields]  WITH CHECK ADD FOREIGN KEY([Categories_Field_Id])
REFERENCES [dbo].[CategoriesField] ([Categories_Field_Id])
GO
ALTER TABLE [dbo].[SportFields]  WITH CHECK ADD FOREIGN KEY([Owner_Id])
REFERENCES [dbo].[Owners] ([Owner_Id])
GO
ALTER TABLE [dbo].[StatusSportFieldDetails]  WITH CHECK ADD  CONSTRAINT [FK_SportFieldDetail_Status] FOREIGN KEY([Sport_Fiel_Detail_Id])
REFERENCES [dbo].[SportFieldDetails] ([Sport_Fiel_Detail_Id])
GO
ALTER TABLE [dbo].[StatusSportFieldDetails] CHECK CONSTRAINT [FK_SportFieldDetail_Status]
GO
ALTER TABLE [dbo].[SubscriptionPayments]  WITH CHECK ADD FOREIGN KEY([Payment_Method_Id])
REFERENCES [dbo].[PaymentMethods] ([Payment_Method_Id])
GO
ALTER TABLE [dbo].[SubscriptionPayments]  WITH CHECK ADD FOREIGN KEY([User_Subscription_Id])
REFERENCES [dbo].[UserSubscriptions] ([User_Subscription_Id])
GO
ALTER TABLE [dbo].[SubscriptionPayments]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([Wallet_Id])
REFERENCES [dbo].[Wallets] ([Wallet_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserSubscriptions]  WITH CHECK ADD FOREIGN KEY([Account_Package_Id])
REFERENCES [dbo].[AccountPackages] ([Account_Package_Id])
GO
ALTER TABLE [dbo].[UserSubscriptions]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[UserVoucher]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[UserVoucher]  WITH CHECK ADD FOREIGN KEY([Voucher_Id])
REFERENCES [dbo].[Voucher] ([Voucher_Id])
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD FOREIGN KEY([Created_By])
REFERENCES [dbo].[Users] ([Username])
GO
ALTER TABLE [dbo].[Wallets]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StatusSportFieldDetails]  WITH CHECK ADD  CONSTRAINT [CHK_Dates] CHECK  (([EndDate] IS NULL OR [EndDate]>=[StartDate]))
GO
ALTER TABLE [dbo].[StatusSportFieldDetails] CHECK CONSTRAINT [CHK_Dates]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SportFields', @level2type=N'COLUMN',@level2name=N'Decription'
GO
